**Name:** MD Abdul Hadi Sheikh

**Roll:** 2200170

**Experiment No:** 01

**Experiment Name:** Arithmatic Operators


---

###Arithmatic Operator

In [25]:
a = 12
b = 4
# = is a assignment operator to assign values to variable
print(a)
print('a')
print(b)
print('b')
print(type(a))
print(type('a'))
print(type(b))
print(type('b'))

12
a
4
b
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>

In [26]:
#Collab shows last operation perfomed without print statement
type(a)
type('a')
type(b)
type('b')

str

### Boolean is a data type answers in True and False
### Also 1 and 0

In [27]:
# '==' is equal to, check if a value is equal to something
type(a==b)

bool

In [28]:
print(a+b)  #addition
print(a-b)  #subtraction
print(a*b)  #multiplication
print(a**b) #exponentiation
print(a/b)  #division
print(a//b) #Floor division -> integer division
print(a%b)  #Modulo -> Gives output

16
8
48
20736
3.0
3
0

In [29]:
print(a+b)
print(a-b)
print(a*b)
print(type(a/b))
print(a//b)
print(a+b)
print(a%b)
type(a/b)

16
8
48
<class 'float'>
3
16
0

float

###Comparison (Relational) Operators
== (equal to)

!= (not equal to)

\> (greater than)

< (less than)

\>= (greater than or equal to)

<= (less than or equal to)

In [30]:
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

##Logical Operators:
and (logical AND)

or (logical OR)

not (logical NOT)

In [31]:
print(a > 10 and b < 5)    # True (both conditions are True)
print(a > 15 and b < 5)    # False (first condition is False)
print(a > 10 or b > 5)     # True (first condition is True)
print(a > 15 or b < 5)     # True (second condition is True)
print(not a > 10)          # False (a > 10 is True, so not True = False)
print(not b > 5)           # True (b > 5 is False, so not False = True)

True
False
True
True
False
True

##Assignment Operators:
>= (assigns value)

>+=, -=, *=, /=, %=, **=, //= (compound assignment operators)

In [32]:
a = 11
a += 5      # Same as: a = a + 5
print(a)

a -= 3      # Same as: a = a - 3
print(a)

a = 11
a *= 2      # Same as: a = a * 2
print(a)

a /= 2      # Same as: a = a / 2
print(a)

a %= 3      # Same as: a = a % 3
print(a)

a **= 2     # Same as: a = a ** 2
print(a)    # Output: 121 (11 squared)

a //= 3     # Same as: a = a // 3
print(a)

16
13
22
11.0
2.0
4.0
1.0

In [33]:
length = 70
width = 22
height = 17

print("Area of oblong:", length*width*height)
Diagonal= (height**2+width**2+height**2)**0.5
print("Diagonal of oblong:", Diagonal)

Area of oblong: 26180
Diagonal of oblong: 32.58834147360065

In [34]:
#Cylinder
hc = 10
rc = 3

volume = 3.1416*hc*(rc**2)
print("Volume of Cylinder:",volume)

Volume of Cylinder: 282.744

In [35]:
Al = hc*rc
At = 3.1416*rc**2
Ac = 2*3.1416*rc*hc
print("Area of longitudinal cross section:",Al,"\nArea of tansverse cross section:",At,"\nArea of Curved surface:",Ac)

Area of longitudinal cross section: 30
Area of tansverse cross section: 28.2744
Area of Curved surface: 188.49599999999998